.dashboard p:not(:first-child) {
    color: #fff;
    font-size: 14px;
    background-color: #094550;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    border-radius: 2px;
}

@media (max-width: 576px) {
    .dashboard p:not(:first-child) {
        font-size: 12px;
    }
}

.dashboard hr {
    margin-top: 0;
}
